#exportPattern("^[^0]*$")
import(minet)
import(methods)

useDynLib("netresponse")

export(
       add.ellipse,
       check.matrix,
       check.network,
       detect.responses,
       filter.netw,
       find.similar.features,
       get.dat,
       get.model.parameters,
       independent.models,
       list.significant.responses,
       order.responses,
       #order.samples,
       read.sif,
       response2sample,
       sample2response,
       model.stats,
       vdp.mixt,
       pick.model.pairs,
       P.rS,
       P.r.s,
       P.rs.joint.individual,
       P.rs.joint,
       P.Sr,
       P.S,
       P.sr,
       P.s.individual,
       response.enrichment,
       ICMg.combined.sampler,
       ICMg.links.sampler,
       ICMg.get.comp.memberships,
       plotAssociations,
       plotPCA,
       plot.data,
       plot.expression,
       plot.response,
       plot.responses,
       plot.scale,
       plot.subnet,
       set.breaks,
       write.netresponse.results
       )

exportClasses("NetResponseModel")
#S4method(get.subnets, NetResponseModel)



exportMethods(
#"[",
"[[",
show,
get.subnets,
getqofz
#"[<-","$","$<-", 
#"plot","print" 
)

#exportMethods(get.model.parameters)
#importFrom(doMC, getDoParWorkers)
#export(Diag)
#importFrom(graphics, plot)                                        

