#exportPattern("^[^0]*$")
import(methods)

useDynLib("netresponse")

export(detect.responses,
       find.similar.features,
       get.model.parameters,
       order.responses,
       #order.samples,
       sample2response,
       response2sample,
       model.stats,
       vdp.mixt
       #set.breaks,
       #plot.subnet,
       #plot.scale,
       #plot.responses,
       #plot.response,
       #plot.pca
       )

exportClasses("NetResponseModel")
#S4method(get.subnets, NetResponseModel)

exportMethods(
#"[",
"[[",
show,
get.subnets,
get.qofz
#"[<-","$","$<-", 
#"plot","print" 
)

#exportMethods(get.model.parameters)
#importFrom(Matrix, Diag)
#export(Diag)
#importFrom(graphics, plot)                                        

